body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
  color: #242424;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
